description = "Подвал"
==
<div class="footer__wrapper wrapper">
  <div class="footer__logo">
    <img src="{{ 'assets/icons/ic_logo-light.svg'|theme }}" alt="">
  </div>
  <div class="footer__links-list">
    <a href="{{ '/' }}" class="footer__link-item">Главная</a>
    <a href="{{ '/tipy-komplektuyushchih' }}" class="footer__link-item">Комплектующие</a>
    <a href="{{ '/obratnaya-svyaz' }}" class="footer__link-item">Обратная связь</a>
    <a href="{{ '/novosti' }}" class="footer__link-item">Новости</a>
    <a href="{{ '/o-nas' }}" class="footer__link-item">О нас</a>
  </div>
  <div class="footer__copyrights">Copyright © 2021. Погорелов Егор Алексеевич и Дмитриев Андрей Дмитриевич 4-ИС. All rights reserved.</div>
</div>